/* CSS file */
.my-menu {
    border: 2px solid green;
  }
  
  .my-menuitem {
    color: #ea4335;
    background-color: #ffffff;
    font-weight: 700;
    text-decoration: none;
  }
  
  .my-menuitem-hover {
    font-weight: 700;
    text-decoration: none;
  }